body{
  margin:0;
  font-family: 'Montserrat', helvetica;
}

header{
  display:block;
  width:100%;
  font-family:'Rajdhani', helvetica;
  margin: 0 auto;
  text-align: center;
}

header img{
  height: 400px;
}
.parentHead {
  width:100%;
  position:relative;
  text-align:center;
}

.headH {
  position:absolute;
  width: 100%;
  top:80px;
  color:white;
}
 h1{
  color:white;
  font-size: 70px;
  margin: 0 auto;
  padding: 0;
 }

 .headH p{
   margin: -20px;
 }


.navLinx {
  width:100%;
  position:absolute;
  top:20px;
  text-align: center;
}

.navLinx ul{
  list-style-type: none;

}

.navLinx li {
  display: inline-block;
  color:black;
  padding-left:40px;
  padding-right: 40px;
}

.navLinx a{
  font-size: 20px;
  text-decoration:none;
  color:black;
}

.navLinx a:hover{
  color:white;
  font-size: 25px;
  transition:all .3s ease;
}


.backImg{
  width:100%;
  height: 400px;
  background: rgba(58,58,58,1);
}

.imgHover{
  opacity: .3;
}

.imgHover:hover{
  opacity: 1.0;
  transition: all 500ms ease;
}

.wrapper{
  display: block;
  position: relative;
  margin: 0 auto;
}

.block1{
  display: block;
  position: relative;
  margin-top: 20px;
}

.rightSide{
  display: inline-block;
  width: 55%;
  margin-left: 15px;
}

.rightSide h2{
  font-size: 40px;
  text-align: left;
  margin-right:90px;
  margin-top: 5px;
}
.rightSide h3{
  font-size: 25px;
  color: grey;
}

.rightSide p{
  text-indent: 1.5em;
  line-height: 22px;
}

.leftSide{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-right: 15px;
  text-align: center;
  border-right: 1px solid lightgrey;

}

.leftSide p{
  padding-left: 40px;
  padding-right: 40px;
}

.leftSide img{
  width: 350px;
  margin-top: 10px;
}

.leftSide img:hover{
  width: 400px;
  box-shadow: -11px 11px 2px 1px rgba(0,0,0,.7);
  transition: all .4s ease;
}

.backImg2{
  margin-left: 60px;
  width:350px;
  background-color: rgba(58,58,58,1);
}

/*
BLOCK 2 */

.block2{
  margin-top:60px;
  position: relative;
  clear: both;
  width: 100%;
}
.block2 h2{
  font-size: 45px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.block2 h3{
  font-size: 25px;
  color: grey;
  text-align: center;
}

.block2 p{
  margin-left: 120px;
  margin-right: 120px;
  text-indent: 1.5em;
  line-height: 22px;
}


.moviePic{
  display:block;
  width: 100%;
  position:relative;
  clear: both;
}

#drive{
  display:block;
  position: absolute;
  margin-left: 41%;
  top: 5px;
  transition: all .5s ease-in-out;

}
#never{
  display:block;
  position: absolute;
  margin-left: 41%;
  top: 5px;
  transition: all .5s ease-in-out;
}
#her{
  display:block;
  position: absolute;
  margin-left: 41%;
  top: 5px;
  transition: all .5s ease-in-out;
}
#ben{
  display:block;
  position: absolute;
  margin-left: 41%;
  top: 5px;
  transition: all .5s ease-in-out;
}
#wrest{
  display:block;
  position: absolute;
  margin-left: 41%;
  top:5px;
  transition: all .5s ease-in-out;
}

.moviePic:hover #wrest{
  transform: translate(410px,0);
}

.moviePic:hover #ben{
  transform: translate(205px,0);
}

.moviePic:hover #her{
  transform: translate(0px,0);
}

.moviePic:hover #never{
  transform: translate(-205px,0);
}

.moviePic:hover #drive{
  transform: translate(-410px,0);
}

.block3{
  margin-top: 320px;
  display:block;
  position: relative;
  width:100%;

}

.lfSide{
  display: inline-block;
  width: 30%;
  padding-left: 20px;
}

.lfSide h2{
  font-size: 60px;
  text-align:center;
  margin-top: 100px;
  padding-right: 20px;
  border-right: 1px solid lightgrey;
}

.lfSide p{
  margin:0;
}


.rtSide{
  display:inline-block;
  width:65%;
  vertical-align: top;
}

.rtSide p{
  padding-left: 40px;
  padding-right: 60px;
}

#fade {
    position:relative;
}

#fade img {
    position:absolute;
    width: 310px;
    top: 90px;
    left: 7%;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

#fade img.two:hover {
    opacity:0;
}

#bottomInfo{
  position:absolute;
  line-height: 22px;
  left: 65%;
  top: 90px;
}


.block4 {
  display:block;
  margin-top: 60px;
}

.block4 h2{
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}

.block4 h3{
  text-align: center;
  font-size: 25px;
  color: grey;
}

.mura{
  overflow: hidden;
  text-align:center;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  transition: height 1s ease;
}

#hoverHere{
  color: black;
  margin: 0 auto;
  cursor: pointer;
}
.mura:hover{
  height: 450px;
}
.message{
  display: block;
  width:100%;
  height: 450px;
  overflow: hidden;
}

.message img{
  margin-top: 30px;
  width: 220px;
}

.block5 {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 95px;
}

.ls {
  display: inline-block;
  width: 76%;
}


#closed{
  display:block;
  position: absolute;
  width:200px;
  margin-left: 5px;
  left: 5px;
  bottom: 20%;
  transition: all .5s ease-in-out;

}
#bier{
  display:block;
  position: absolute;
  width:200px;
  margin-left: 5px;
  left: 5px;
  bottom: 20%;
  transition: all .5s ease-in-out;
}
#co{
  display:block;
  position: absolute;
  width:200px;
  margin-left: 5px;
  left: 5px;
  bottom: 20%;
  transition: all .5s ease-in-out;
}
#moose{
  display:block;
  position: absolute;
  width:290px;
  margin-left: 10px;
  left: 5px;
  bottom: 20%;
  transition: all .5s ease-in-out;
}


.ls:hover #moose{
  transform: translate(0px,0);
  width: 200px;
}

.ls:hover #co{
  transform: translate(205px,0);
}

.ls:hover #bier{
  transform: translate(410px,0);
}

.ls:hover #closed{
  transform: translate(615px,0);
}





.rs {
  display: inline-block;
  width: 20%;
}

.rs h2{
  font-size: 50px;
  padding-left:20px;
  border-left: 1px solid grey;
  letter-spacing: 7px;
}
.rs span{
  display: inline-block;
}

.rs span:hover{
  transform: rotate(90deg);
  transition: all .3s ease;
}




.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
}
